body {
    font-family: source-sans-pro, sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #114A7E;
    background-color: #EBEBEC;
    margin: 0;

    /*
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
*/
    /*
    display: grid;
    grid-template-rows: 5% 3% 4% 3% 30% 5% 30% 5% 30% 5%;
    grid-template-columns: 2.5% 95% 2.5%;
*/
}

nav > ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    padding-left: 0%;
    margin-top: 0%;
    align-items: center;
}

.logo {
    height: 2.5em;
}

.eind {
    display: flex;
    align-items: center;
}

.superfoto {
    width: 100%;
    display: none;
}

nav {
    height: 2.5em;
    width: 100%;
    background-color: white;
    z-index: 3;
    position: fixed;
    top: 0;
}

nav > ul {
    height: 2.5em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    margin: 0;
    width: 100%;
    z-index: 3;
}

nav > ul > li > a > img {
    height: 1.6em;
    padding-top: 0.4rem;
}

nav > ul > li:last-of-type {
    display: flex;
    flex-direction: row;
    padding-right: 3%;
}

nav > ul > li:first-of-type {
    padding-left: 3%;
}

.logo {
    align-self: stretch;
    padding-top: 0%;
}

#melding {
    position: fixed;
    top: -2%;
    background-color: white;
    border: 1px solid #114A7E;
    padding: 0.5em;
    z-index: 1;
}

.actie {
    animation: updaten 3s linear;
    animation-iteration-count: 1;
    z-index: -1;
}

@keyframes updaten {
    0% {
        top: -2%;
    }
    40% {
        top: 2.9%;
    }
    60% {
        top: 2.9%;
    }
    100% {
        top: -2%;
    }
}

main {
    background-color: #F5F5F6;
    width: 100%;
}

h1 {
    font-weight: 100;
    font-size: 1.3em;
    text-align: center;
    margin: 15% auto 5% auto;
    width: 70%;
    z-index: -3;
}

h2 {
    font-weight: 100;
    font-size: 1.4em;
    text-align: center;
    margin: 4% auto 2% auto;
}

article {
    background-color: white;
    width: 85%;
    margin: 0% 7.5% 5% 7.5%;
    border-radius: 2%;
    box-shadow: 0em 0.1em 0.5em 0em #494949;
    display: flex;
    flex-direction: column;
    height: 21em;
}

article picture {
    border-radius: 2% 2% 0 0;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10em;
    width: 100%;
}

picture img {
    height: 10em;
    width: 100%;
}

h3 {
    font-size: 1.4em;
    padding-bottom: 2%;
    margin: 1.5rem 0.75rem 0 0.75rem;
    border-bottom: 2px solid #EB1F30;
    font-weight: inherit;
}

a:visited {
    text-decoration: none;
}

article a {
    text-decoration: none;
    color: #114A7E;
}

article p {
    color: #15679c;
    margin: 0 0.75em;
}

article footer {
    margin-top: auto;
    display: flex;
    justify-content: space-around;
    height: 2em;
}

article p:first-of-type {
    margin-top: 4%;
}

article button:first-of-type {
    background-image: url(../images/hartgevuld.png);
    background-repeat: no-repeat;
    background-position: left;
    background-size: 1.5em;
    border: none;
    background-color: white;
    width: 50%;
    margin-left: 0.75em;
    margin-bottom: 1.6%;
    padding-left: 8%;
    color: #114A7E;
    font-size: 1em;
}

article button:nth-of-type(2) {
    background-color: white;
    background-image: url(../images/download.svg);
    background-repeat: no-repeat;
    background-position: left;
    margin-left: 0%;
    margin-bottom: 1.6%;
    padding-left: 13%;
    background-size: 1.5em;
    width: 50%;
    border: none;
    font-size: 1em;
    color: #114A7E;
}

.deleted {
    transition: all 1.5s linear;
    opacity: 0;
}

ul {
    list-style: none;
    padding-left: 7%;
    z-index: 1;
}

@media (min-width: 31em) and (max-width: 47.9em) {
    article {
        max-width: 25rem;
        margin: 4% auto 5% auto;
    }
}

@media (min-width: 48em) and (max-width: 63.99em) {
    nav {
        background-color: white;
    }

    nav > ul > li:first-of-type {
        padding-left: 2%;
    }

    nav > ul > li:last-of-type {
        padding-right: 2%;
    }

    .superfoto {
        display: block;
        height: 17em;
        overflow: hidden;
    }

    h1 {
        font-size: 1.2em;
        font-weight: 400;
        margin: -6% auto 4% auto;
        width: 50%;
        color: white;
    }


    h2 {
        margin: 4% auto 2% auto;
    }

    main {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }

    article {
        background-color: white;
        border-radius: 1%;
        box-shadow: 0em 0.1em 0.5em 0em #494949;
        margin: 0% auto 10% auto;
        display: flex;
        height: 27em;
    }

    h3 {
        margin: 1.5rem 1.5rem 1rem 1.5rem;
    }

    article p {
        color: #15679c;
        margin: 0 1.5em;
    }

    article button:first-of-type {
        margin-left: 1.5em;
        padding-left: 1.5em;
        font-size: 0.9em;
    }

    article button:nth-of-type(2) {
        font-size: 0.9em;
    }

}

@media (min-width: 64em) {
    nav {
        background-color: white;
    }

    nav > ul > li:first-of-type {
        padding-left: 17%;
    }

    nav > ul > li:last-of-type {
        padding-right: 17%;
    }

    .superfoto {
        display: block;
        height: 22em;
        overflow: hidden;
    }

    h1 {
        font-size: 1.2em;
        font-weight: 400;
        margin: -3% auto 2% auto;
        width: 50%;
        color: white;
    }

    q {
        display: inline-block;
        width: 17%;
        font-weight: bold;
        font-size: 1.95em;
        border-left: 2px solid #114A7E;
        border-right: 2px solid #114A7E;
        padding: 0 1%;
        text-align: center;
        margin-left: 17%;
    }

    h2 {
        margin: 3% auto 1% auto;
    }

    main {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        width: 70%;
        padding: 0 15%;
        box-sizing: content-box;
    }

    article {
        background-color: white;
        border-radius: 1%;
        box-shadow: 0em 0.1em 0.5em 0em #494949;
        margin: 0% auto 10% auto;
        display: flex;
        height: 27em;
    }

    h3 {
        margin: 1.5rem 1.5rem 1rem 1.5rem;
    }

    article p {
        color: #15679c;
        margin: 0 1.5em;
    }

    article button:first-of-type {
        margin-left: 1.5em;
    }

}
