body {
    font-family: source-sans-pro, sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #114A7E;
    background-color: #EBEBEC;
    margin: 0;
}

.logo {
    height: 2.5em;
}

.eind {
    display: flex;
    align-items: center;
}

#melding {
    position: fixed;
    top: -2%;
    right: 0%;
    z-index: 0;
    background-color: white;
    border: 1px solid #114A7E;
    padding: 0.5em;
    z-index: 0;
}

.actie {
    animation: updaten 4s linear;
    animation-iteration-count: 1;
}

@keyframes updaten {
    0% {
        top: -2%;
    }
    40% {
        top: 2.9%;
    }
    60% {
        top: 2.9%;
    }
    100% {
        top: -2%;
    }
}

.superfoto {
    width: 100%;
    display: none;
}

nav {
    height: 2.5em;
    width: 100%;
    background-color: white;
    position: fixed;
    top: 0;
    z-index: 1;
}

nav > ul {
    height: 2.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    margin: 0rem;
    width: 100%;
    padding-left: 0rem;
    list-style: none;
    align-items: center;
    z-index: 1;
}

nav > ul > li > a > img {
    height: 1.6em;
    padding-top: 0.4rem;
}

nav > ul > li:last-of-type {
    display: flex;
    flex-direction: row;
    padding-right: 3%;
}

nav > ul > li:first-of-type {
    padding-left: 3%;
}

.logo {
    align-self: stretch;
    padding-top: 0;
}

body > p {
    text-align: center;
    visibility: hidden;
    margin-top: -20%;
}
/*

.here {
    transition: all 0.3s linear;
    text-align: center;
    visibility: visible;
    margin-top: 0%;
}
*/

main {
    background-color: #F5F5F6;
    width: 100%;
}

h1 {
    font-weight: 100;
    font-size: 1.3em;
    text-align: center;
    margin: 15% auto 5% auto;
    width: 70%;
}

h2 {
    font-weight: 100;
    font-size: 1.4em;
    text-align: center;
    margin: 4% auto 2% auto;
}

article {
    background-color: white;
    width: 85%;
    margin: 0% 7.5% 5% 7.5%;
    border-radius: 2%;
    box-shadow: 0em 0.1em 0.5em 0em #494949;
    display: flex;
    flex-direction: column;
    height: 23em;

}

article picture {
    border-radius: 2% 2% 0 0;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10em;
    width: 100%;
}

picture img {
    height: 10em;
    width: 100%;
}

h3 {
    font-size: 1.4em;
    padding-bottom: 2%;
    margin: 1.5rem 0.75rem 0 0.75rem;
    border-bottom: 2px solid #EB1F30;
    font-weight: inherit;
}

a:visited {
    text-decoration: none;
}

article a {
    text-decoration: none;
    color: #114A7E;
}

article p {
    color: #15679c;
    margin: 0 0.75rem;
    text-align: left;
    visibility: visible;
}

article footer {
    margin-top: auto;
    display: flex;
    justify-content: center;
    height: 2em;
}

article p:first-of-type {
    margin-top: 4%;
}

article button {
    background-image: url(../images/bin.png);
    background-repeat: no-repeat;
    background-position: left;
    background-size: 2.7em;
    border: none;
    background-color: white;
    width: 50%;
    margin-left: 0.75rem;
    margin-bottom: 1.6%;
    padding-left: 1rem;
    color: #114A7E;
    font-size: 1em;
}

.deleted {
    transition: all 1.5s linear;
    opacity: 0;
}



ul:nth-of-type(2) {
    columns: 2;
}

@media (min-width: 31em) and (max-width: 47.9em) {
    article {
        max-width: 25rem;
        margin: 4% auto;
    }
}

@media (min-width: 48em) and (max-width: 63.99em) {
    nav {
        background-color: white;
    }

    nav > ul > li:first-of-type {
        padding-left: 3%;
    }

    nav > ul > li:last-of-type {
        padding-right: 3%;
    }

    .superfoto {
        display: block;
        height: 17em;
        overflow: hidden;
    }

    h1 {
        font-size: 1.2em;
        font-weight: 400;
        margin: -5% auto 2% auto;
        width: 50%;
        color: white;
    }

    main {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }

    article {
        background-color: white;
        border-radius: 1%;
        box-shadow: 0em 0.1em 0.5em 0em #494949;
        margin: 0% auto 5% auto;
        display: flex;
        height: 29em;
    }

    h3 {
        margin: 1.5rem 1.5rem 1rem 1.5rem;
    }

    article p {
        color: #15679c;
        margin: 0 1.5em;
        line-height: 1.2em;
    }

    article button {
    background-image: url(../images/bin.png);
    background-repeat: no-repeat;
    background-position: left;
    background-size: 2.2em;
    border: none;
    background-color: white;
    width: 70%;
    margin: auto auto 1.6% auto;
    color: #114A7E;
    font-size: 1em;
    }

}

@media (min-width: 64em) {
    nav {
        background-color: white;
    }

    nav > ul > li:first-of-type {
        padding-left: 17%;
    }

    nav > ul > li:last-of-type {
        padding-right: 17%;
    }

    #melding {
        right: 20%;
    }

    .superfoto {
        display: block;
        height: 22em;
        overflow: hidden;
    }

    h1 {
        font-size: 1.2em;
        font-weight: 400;
        margin: -3% auto 2% auto;
        width: 50%;
        color: white;
    }

    form {
        width: 40%;
        margin-top: -20%;
        margin-bottom: 1%;
        margin-left: 3%;
        z-index: 1;
        position: relative;
    }

    main {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        width: 70%;
        padding: 0 15%;
        box-sizing: content-box;
    }

    article {
        background-color: white;
        border-radius: 1%;
        box-shadow: 0em 0.1em 0.5em 0em #494949;
        margin: 0% auto 10% auto;
        display: flex;
        height: 27em;
    }

    h3 {
        margin: 1.5rem 1.5rem 1rem 1.5rem;
    }

    article p {
        color: #15679c;
        margin: 0 1.5em;
    }

    article button {
    background-image: url(../images/bin.png);
    background-repeat: no-repeat;
    background-position: left;
    background-size: 2.2em;
    border: none;
    background-color: white;
    width: 70%;
    margin: auto auto 1.6% auto;
    color: #114A7E;
    font-size: 1em;
    }

    body > p {
        font-size: 1.2em;
    }

}
