body {
    background-color: #EBEBEC;
    font-family: fantasy;
    display: flex;
    justify-content: center;
}

.setting {
    position: fixed;
    top: 0px;
    width: 100%;
    align-self: center;
}

main {
    margin: 80% auto 0 auto;
    width: 73%;
}
p {
    width: 50%;
    text-align: center;
    margin: 90% auto 0% auto;
}

@media (min-width: 48em) {
    body {
        background-color: black;
    }

    main {
        background-color: white;
        padding: 80% auto 0 auto;
        margin: 0%;
    }

    .setting {
        height: 100%;
    }

    p {
        font-size: 1.2em;
    }

}

