body {
    background-color: #EBEBEC;
    font-family: RalewayThin;
    display: flex;
    justify-content: center;
}

.setting {
    position: fixed;
    top: 0px;
    width: 100%;
    align-self: center;
}

main {
    margin: 80% auto 0 auto;
    width: 73%;
}
p {
    width: 55%;
    text-align: center;
    margin: 90% auto 0% auto;
    font-family: raleway, sans-serif;
    font-weight: 100;
    font-style: normal;
}

@media (min-width: 48em) and (max-width: 63.99em) {
    body {
        background-color: black;
    }

    main {
        background-color: white;
        padding: 80% auto 0 auto;
        margin: 0 15%;
    }

    .setting {
        height: 100%;
        width: 70%;
    }

    p {
        font-size: 1.3em;
    }

}

@media (min-width: 64em) {
    body {
        background-color: black;
    }

    main {
        background-color: white;
        padding: 70% auto 0 auto;
        margin: 0 32.5%;
    }

    .setting {
        height: 100%;
        width: 35%;
    }

    p {
        font-size: 1.6em;
    }

}
}

